@model DevSys.Gesinv.UI.Models.ViewModels.OrdenCompraViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrdenCompraViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProveedorId" class="control-label"></label>
                <span asp-validation-for="ProveedorId" class="text-danger"></span>
                <select class="form-select" asp-for="ProveedorId" aria-label="Default select example">
                    <option selected>Seleccione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Referencia" class="control-label"></label>
                <input asp-for="Referencia" class="form-control" />
                <span asp-validation-for="Referencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CondicionPagoId" class="control-label"></label>
                <select class="form-select" asp-for="CondicionPagoId" aria-label="Default select example">
                    <option selected>Seleccione</option>

                </select>
                <span asp-validation-for="CondicionPagoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descuento" class="control-label"></label>
                <input asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Impuestos" class="control-label"></label>
                <input asp-for="Impuestos" class="form-control" />
                <span asp-validation-for="Impuestos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        setSelectCondicionPago();
        setSelectProveedor();
        function setSelectCondicionPago() {
            const inputCondicionPago = $("#CondicionPagoId");
            fetch("@Url.Action("getList", "CondicionPago")")
            .then((response) => {
                return response.ok ? response.json() : Promise.reject(response)
            })
            .then((data) => {
                data.forEach((item) => {
                    inputCondicionPago.append(`<option value="${item.condicionPagoId}">${item.nombre}</option>`);
                })
            });
        }
        function setSelectProveedor(){
            const inputCondicionPago = $("#ProveedorId");
            fetch("@Url.Action("getList", "Proveedor")")
            .then((response) => {
                return response.ok ? response.json() : Promise.reject(response)
            })
            .then((data) => {
                data.forEach((item) => {
                    inputCondicionPago.append(`<option value="${item.proveedorId}">${item.razonSocial}</option>`);
                    console.log(item);
                })
            });
        }
    </script>
}
