@model DevSys.Gesinv.UI.Models.ViewModels.OrdenCompraViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrdenCompraViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="row">
                    <div class="form-group col">
                        <label asp-for="ProveedorId" class="control-label"></label>
                        <span asp-validation-for="ProveedorId" class="text-danger"></span>
                        <select class="form-select" asp-for="ProveedorId" aria-label="Default select example">
                            <option selected>Seleccione</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="CondicionPagoId" class="control-label"></label>
                        <select class="form-select" asp-for="CondicionPagoId" aria-label="Default select example">
                            <option selected>Seleccione</option>

                        </select>
                        <span asp-validation-for="CondicionPagoId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row my-5">
                    
                    <table class="table table-striped border">
                            <thead>
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Entrega</th>
                                <th scope="col">Unidad</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio Unitario</th>
                                <th scope="col">%</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody id="LineaCompra">
                            
                            </tbody>
                    </table>
                    <button type="button" class="btn btn-primary col-1" id="AgregarProducto">Agregar</button>
                    <button type="button" class="btn btn-primary col-1">Buscar</button>

                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label asp-for="Observacion" class="control-label"></label>
                            <input asp-for="Observacion" class="form-control" />
                            <span asp-validation-for="Observacion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="Referencia" class="control-label"></label>
                        <input asp-for="Referencia" class="form-control" />
                        <span asp-validation-for="Referencia" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="SubTotal" class="control-label"></label>
                            <input asp-for="SubTotal" class="form-control" />
                            <span asp-validation-for="SubTotal" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descuento" class="control-label"></label>
                            <input asp-for="Descuento" class="form-control" />
                            <span asp-validation-for="Descuento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Impuestos" class="control-label"></label>
                            <input asp-for="Impuestos" class="form-control" />
                            <span asp-validation-for="Impuestos" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="Total" class="control-label"></label>
                        <input asp-for="Total" class="form-control" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                    </div>
                </div>
            </div>
            
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let departamentos_select = ''
        $(document).ready(() => {
            // Ejecucion
            setSelectCondicionPago();
            setSelectProveedor();
            setSelectDepartamento();
        
        });

        // Funciones
        function setSelectCondicionPago() {
            const inputCondicionPago = $("#CondicionPagoId");
            fetch("@Url.Action("getList", "CondicionPago")")
            .then((response) => {
                return response.ok ? response.json() : Promise.reject(response)
            })
            .then((data) => {
                data.forEach((item) => {
                    inputCondicionPago.append(`<option value="${item.condicionPagoId}">${item.nombre}</option>`);
                })
            });
        }
        function setSelectProveedor(){
            const inputCondicionPago = $("#ProveedorId");
            fetch("@Url.Action("getList", "Proveedor")")
            .then((response) => {
                return response.ok ? response.json() : Promise.reject(response)
            })
            .then((data) => {
                data.forEach((item) => {
                    inputCondicionPago.append(`<option value="${item.proveedorId}">${item.razonSocial}</option>`);
                    return data
                })
            });
        }
        //function setSelectDepartamento() {
        //    return new Promise((resolve, reject) => {
        //        fetch("@Url.Action("getList", "Proveedor")")
        //            .then((response) => {
        //                return response.ok ? response.json() : Promise.reject(response)
        //            })
        //            .then((data) => {
        //                let list = "";
        //                data.forEach((item) => {
        //                    list += `<option value="${item.proveedorId}">${item.razonSocial}</option>`
        //                })
        //                resolve(list)
        //            })
        //            .catch((err) => reject(err))
        //    })
        //}
        function setSelectDepartamento() {
            var elements = $(".Departamento")
            fetch("@Url.Action("getList", "Departamento")")
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then((data) => {
                    data.forEach((item) => {
                        departamentos_select = departamentos_select + `<option data-value=${item.departamentoId}> ${item.nombre} </option>`
                    });
                })
        }
        $("#AgregarProducto").click(() => {
            $("#LineaCompra").append(
                $("<tr>").append(
                    $("<td>").append(`<input class="form-control" id="Linea-Codigo1" name="Linea-Codigo1" placeholder="Type to search...">`),
                    $("<td>").append("Producto X"),
                    $("<td>").append(`<select class="form-select" id="Linea-Departamento1" name="Linea-Departamento1" aria-label="Default select example">
                                            ${departamentos_select}</select>`),


                    $("<td>").append(`<input type="number" value="0" id="Linea-Unidad1" name="Linea-Unidad1" class="form-control" />`),
                    $("<td>").append(`<input type="number" value="0" id="Linea-Cantidad1" name="Linea-Cantidad1" class="form-control" />`),
                    $("<td>").text("10"),
                    $("<td>").text("10"),
                    $("<td>").text("10")
                )
            )

            //setSelectDepartamento().then(data => {                
                
            //})
        });

        
    </script>
}
