@model DevSys.Gesinv.UI.Models.ViewModels.OrdenCompraViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrdenCompraViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrdenCompraId" class="control-label"></label>
                <input asp-for="OrdenCompraId" class="form-control" />
                <span asp-validation-for="OrdenCompraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProveedorId" class="control-label"></label>
                <input asp-for="ProveedorId" class="form-control" />
                <span asp-validation-for="ProveedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referencia" class="control-label"></label>
                <input asp-for="Referencia" class="form-control" />
                <span asp-validation-for="Referencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CondicionPagoId" class="control-label"></label>
                <input asp-for="CondicionPagoId" class="form-control" />
                <span asp-validation-for="CondicionPagoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descuento" class="control-label"></label>
                <input asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Impuestos" class="control-label"></label>
                <input asp-for="Impuestos" class="form-control" />
                <span asp-validation-for="Impuestos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
