@{
    ViewData["Title"] = "DevSys.Gesinv.UI";
}

<div class="text-center">
    <h1 class="display-4">HELP ME</h1>
    <img src="https://th.bing.com/th/id/OIP.1FJ32-jjYodPexdgzrlv1AHaD4?pid=ImgDet&rs=1"></a>
    
</div>
